<ul id = "lists">
	<% sort_items(:lists).each do |list| %>
		<li <%= list_class(list) %>>
			<a href = "/lists/<%= list[:id] %>">
				<h2><%= list[:name] %></h2>
				<%== todos_completed(list) %>
			</a>
		</li>
	<% end %>
</ul>

<% content_for :header_links do %>
	<a class = "add" href = "/lists/new"><strong>New List</strong></a>
<% end %>