<form action = <%= @action_path %> method = "post">
	<dl>
		<dt>
			<label for = "list_name"><%= @label %></label>
		</dt>	
		<dd>
			<input name = "list_name" place_holder = "List Name" type = "text" value = "">
		</dd>
	</dl>
	<fieldset class = "actions">
		<input type = "submit" values = "Save">
		<a href ="/lists">Cancel</a>
	</fieldset>
</form>	
