<section id = "todos">
	<header>
		<h2><%= @name %></h2>
		<a href = "/lists/<%= @index%>/edit">Edit List</a> 
		<% unless @todos.empty? %>
			<ul>
			<% @todos.each do |todo| %>
				<li>
					<h2><%= todo %></h2>
				</li>
			<% end %>
			</ul>
		<% end %>
	</header>
</section>

<% content_for :header_links do %>
	<a href = "/lists"><h2>All Lists</h2></a>
<% end %>